.formInput{
    grid-column: full-start / full-end;
    grid-row: 2/3;
}

.form{
    margin: 5rem 30rem;
    
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__group{
        position: relative;
    }
    &__label{
        display: block;
        position: absolute;
        padding-left: 2rem;
        top: 1.6rem;
        pointer-events: none;
        transition: all .2s;
        color: $color-logo-light;
        text-transform: capitalize;

        &--error{
            color: $color-red;
            display: grid;
            justify-items: start;
            pointer-events: none;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: .7px;
        }
    }
    &__input:placeholder-shown ~ &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__input:focus ~ &__label,
    &__textarea:focus ~ &__label,
    &__input:valid ~ &__label,
    &__textarea:valid ~ &__label
    {
        top: 0;
        padding-left: 2rem;
        font-size: 1.4rem;
        color: $color-logo;
    }
    &__input:focus,
    &__textarea:focus
    ,&__input:valid,
    &__textarea:valid 
    {
        color: $color-secondary-light-3;
    }
    
    &__input{
        width: 40rem;

        padding: 3rem 2rem 1rem 2rem;
        font-size: inherit;
        font-family: inherit;
        border:none;
        border: 2px solid $color-primary-dark-1;
        border-radius: 3px;
        transition: all .3s;
        &:focus{
            border: 2px solid $color-logo;
        }
        &:focus:invalid{
            border-bottom: 2px solid $color-red;
        }
        &::-webkit-input-placeholder { /* Edge */
            color: $color-logo-dark;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $color-logo-dark;
        }
        
        &::placeholder {
          color: $color-logo-dark;
        }
        &[type='submit']{
            background-color : $color-logo;
            color: #fff;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            padding: 2rem 3rem;
        }
    }
      
}