.revenues{
    grid-row: 2 / 3;
    grid-column: full-start / full-end;

    padding: 5rem 7rem;
}

.charts{
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;
    border-radius: 3px;
}
.charts:hover{
    background-color: $color-white;
    transition: all .2s;
}
.chart{
    justify-self: center;
    align-self: center;
    // text-align: center;

    &--sold{
        color: $color-green-op;
        text-transform: lowercase;

        // text-shadow: [x-offset] [y-offset] [blur] [color];
        text-shadow: 3px 3px 5px rgba($color-black,.05);
    }
    &--left{
        color: $color-yellow-op;
        text-transform: lowercase;
    }
}