.tickets{
    grid-row: 2 / 3;
    grid-column: full-start / full-end;

    padding: 5rem 7rem;

    display: grid;
    grid-template-columns: minmax(min-content,2fr) 1fr;
    // grid-template-columns: minmax(60rem,1fr) max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;


    &--text{
        display: grid;
        grid-row-gap: 2rem;
        &--header{

            &-para{
                @include clampLine-3;
                font-size: 3rem;
                color: $color-secondary-light-3;
                line-height: 1.2;
                font-weight: 600;
            }
            &-span{
                color: $color-secondary-light-3;
                margin: 0 .5rem;
                text-transform: capitalize;
            }
        }
    }

    &--story{
        // background-color: $color-white;
        // padding: 1rem;
        // border-radius: 3px;
        
        &--img{
            width: 100%;
            display: grid;
            justify-content: center;
        }
        // &--para{
        //     padding: 2rem;
        // }
    }
}

.ticket{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 2rem;

    &--card{
        // media que
        // max-width: 25rem;
        padding: 3rem;
        border-radius: 3px;
        background-color: $color-white;

        &--name{
            @include clampLine-2;
            line-height: 1.2;
            font-weight: 600;
            color: $color-secondary-light-3;
        }
        &--location{
            @include clampLine-1;
        }
        &--date{
            @include clampLine-1;
            color: $color-yellow-star;
            font-weight: 600;
        }
    }
}

.requirement{
    display: grid;
    grid-row-gap: 2rem;
}