.topNavbar{

    grid-column: full-start / full-end;
	grid-row: 1/ 2;

	
    position: sticky;
	top: 0px;
	z-index: 200;
    background-color: $color-primary-dark;
    // background-color: $color-white;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	&__left{
		&--text-size{
			font-size: 1.6rem;
			// margin-left: 2rem;
		}
	}
	&__right{
		margin-top: 1rem;

		&--box{
			float: right;
			margin-right: 2rem;
		}

		&--icon{
			transition: all .3s;
		}
		&--icon:hover{
			color: $color-blue;
			font-weight: 700;
		}
	}

    &--box{
		padding: .2rem 2rem .2rem 2rem;
		margin: 1rem;
		background-color: $color-primary;
		border-radius: 3px;
	}

	
	&__link,
	&__link:before{
		margin-left: 1rem;
		font-size: $font-14;
		color: $color-secondary-light-1; 
		text-decoration: none;
		text-transform: capitalize;
		transition: all .3s;
	}
	&__link:hover{
		color: $color-blue;
		border-radius: 3px;
	}
	&__link:focus,
	&__link::after,
	&__link:active{
		color: $color-blue;
	}
}