.help{
    grid-row: 4 / 5;
    grid-column: col-start 3/ col-end 6;

    padding: 8rem 0;
    text-align: center;

    &__input{
        padding: 1.6rem 2rem;
        width: 100%;
        font-size: inherit;
        font-family: inherit;
        border:none;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        transition: all .3s;
        background-color: #fff;
        outline: none;

        &--box{
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    }
    &__btn{
        padding: 1.45rem 2rem;
        border: 2px solid #fff;
        border-radius: 0;
    }

}