.box{
    padding: 2rem;
    margin: 1rem;
    background-color: $color-primary-1;
    // box-shadow: 0 0 2rem rgba(151, 121, 121, 0.2);
    border-radius: 3px;
}


.bottom__line{
    margin: 4rem 0;
    border-bottom: 1px solid $color-primary-dark-1;
}