.box{
    padding: 2rem;
    margin: 0 1rem 1rem 1rem;
    background-color: $color-primary;
    // box-shadow: 0 0 2rem rgba(151, 121, 121, 0.2);
    border-radius: 3px;
}


.bottom__line{
    margin: 4rem 0;
    border-bottom: 1px solid $color-primary-dark-1;
}
.or{
    text-align: center;

    &::before{
        content: '';
        display: grid;
        width: 20rem;
        height: 1px;
        background-color: $color-logo-op;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 1;
    }
    &::after{
        content: '';
        display: block;
        width: 20rem;
        height: 1px;
        background-color: $color-logo-op;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 1;
    }
    &--span{
        text-transform: uppercase;
        background-color: $color-primary;
        color: $color-logo-op;
        z-index: 2;
    }
}