
.btn{
    &,
    &:link,
    &:visited
    {
        outline: none;
        border-radius: 2px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $font-15;
        padding: 1.2rem 1.8rem;
        transition: all .2s;
        position: relative;
        color: $color-white;

        cursor: pointer;
        border: none;
    }

    &:hover{
        background-color: $color-blue-op;
    }
    &:active,
    &:focus {
        background-color: $color-blue;
        outline: none;
    }
    &--blue{
        background-color: $color-logo;
        color: $color-white;

        &::after{
            background-color: $color-logo;
        }
    }
}


.btn-border {
    &:link,
    &:visited {
        font-size: $font-14;
        border-radius: 2px;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-logo-op;
        text-decoration: none;
        border: 1px solid $color-logo-op;
        padding: 1.2rem 1.8rem;
        letter-spacing: 1px;
        // font-weight: 600;
        transition: all .2s;
    }
    
    &:hover {
        color: $color-logo;
        border: 1px solid $color-logo;
    }

    &:active {
        background-color: $color-logo;
        color: $color-white;
    }
}
